* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo {
  font-weight: bold;
}
#logo_color {
  color: #5800FF;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


#pending-donations-count {
  position: relative;
  top: 15px;
  right: 2px;
  color: white;
  width: 16px;
  height: 16px;
  padding: 4px;
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 50%;
  padding: 2px;
  text-align: center;
  font: 14px Arial, sans-serif;
  /* background-position: -35px; */
}

#chats-count {
  position: absolute;
  top: 35px;
  right: 505px;
  color: white;
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 20%;
  padding: 0 1px;
}

#notifications-count {
  position: absolute;
  top: 35px;
  right: 445px;
  color: white;
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 20%;
  padding: 0 1px;
}




